h1 {
    font-size: 24px;
    color: blue;
    font-weight: bold;
    font-style: italic;
  }

  h2 {
    font-size: 20px;
    color: #0000ff; 
    font-weight: bold;
  }

  h3 {
    font-size: 16px;
    color: teal; 
    font-weight: bold;
  }
  

p {
  color: #4D4D4D;
}


p:first-of-type {
  font-weight: bold;
}

a {
  color: #8A2BE2;
  text-decoration: none; 
}

header {
  width: 100vw; 
  min-height: 33vh; 
  background-image: url('img/maxresdefault.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  color: white; 
  text-align: center; 
  padding: 50px 0; 
}

header h1,
header p {
  color: #faf60b; 
}

img {
  width: 50vw; 
}


article {
  border: 2px solid #333333; 
  border-radius: 10px; 
  border-left-width: 5px;  
  border-left-color: #FF5733; 
  margin: 20px; 
  padding: 10px; 
}
